.side-menu {
    position: fixed;
    height: 100vh;
    width: 220px;
    background: white;
    overflow-y: auto;
    border-right: 1px solid #eee;
    left: 0;

    .has-submenu{
        &.is-active {
            .icon {
                //-webkit-transform: rotate(90deg);
                //-moz-transform: rotate(90deg);
                //-o-transform: rotate(90deg);
                //-ms-transform: rotate(90deg);
                //transform: rotate(90deg);
            }
        }
    }

    .submenu {
        display: none;
    }
}

.management-area {
    margin-left: 220px;
    padding: 20px;
}
